.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}
.login-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  width: 320px;
  background-color: rgba(230, 230, 230, 0.1);
}

.form-label {
  text-align: center;
}
