.container-register {
  display: flex;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  overflow: hidden;
}

.register-container {
  background-color: rgba(230, 230, 230, 0.1);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: auto;
  height: auto;
}

.input-width {
  width: 240px;
}
